<!-- Segunda tarea Addai Guerrero, by: KeyBr-->
<div class="flex flex-col justify-center items-center min-h-screen bg-gradient-to-r from-rose-100 to-teal-100">

  <div class="flex flex-wrap justify-center p-16">

    <div class="flex flex-col justify-center p-6">
      <!-- Card de Desarrollo y Organización -->
      <h1 class="text-5xl font-bold mb-4">Cuadro de los elementos y propiedades que integran a las interfaces web.</h1>


      <div class="max-w-4 p-6 bg-white shadow-md rounded-lg mt-8">
        <h2 class="text-2xl font-bold mb-4">Desarrollo y Organización</h2>
        <p class="mb-4">Para preparar el cuadro de los elementos y propiedades que integran a las interfaces web, es
          esencial recopilar información de distintas fuentes y organizarla de manera clara y concisa.</p>
      <p class="mb-4">Este documento tiene como objetivo principal proporcionar un análisis comparativo entre tres de los frameworks más prominentes en la actualidad: Angular, React y Vue. Esta evaluación se basa en criterios clave que abarcan desde la eficiencia del rendimiento hasta la flexibilidad de desarrollo y la comunidad de soporte.</p>
        </div>
    </div>
    <div class="flex flex-row">
    <!-- Card de Vue.js -->
    <div class="max-w-sm mx-4 mb-8 bg-white shadow-md rounded-lg">
      <div class="p-6">
        <h2 class="text-2xl font-bold mb-4">Vue.js</h2>
        <img src="assets/Vue.png">
        <p class="mb-4">Vue.js es un framework progresivo de JavaScript para construir interfaces de usuario
          interactivas. Es conocido por su simplicidad y facilidad de integración en proyectos existentes.</p>
        <h3 class="font-bold mb-2">Características destacadas:</h3>
        <ul class="list-disc pl-4">
          <li>Fácil de aprender y utilizar.</li>
          <li>Componentes reutilizables y flexibilidad en el desarrollo.</li>
          <li>Integración sencilla con otras bibliotecas o proyectos.</li>
        </ul>
      </div>
    </div>

    <!-- Card de Angular.js -->
    <div class="max-w-sm mx-4 mb-8 bg-white shadow-md rounded-lg">
      <div class="p-6">
        <h2 class="text-2xl font-bold mb-4">Angular</h2>
        <img src="assets/Angular.svg.png">
        <p class="mb-4">Angular es un marco de trabajo de código abierto, basado en TypeScript, mantenido por Google y
          una comunidad de desarrolladores y empresas. Es conocido por su robustez y escalabilidad.</p>
        <h3 class="font-bold mb-2">Características destacadas:</h3>
        <ul class="list-disc pl-4">
          <li>Arquitectura robusta y escalable.</li>
          <li>Incluye un completo conjunto de herramientas y bibliotecas.</li>
          <li>Gran comunidad y soporte oficial de Google.</li>
        </ul>
      </div>
    </div>

    <!-- Card de React.js -->
    <div class="max-w-sm mx-4 mb-8 bg-white shadow-md rounded-lg">
      <div class="p-6">
        <h2 class="text-2xl font-bold mb-4">React</h2>
        <img src="assets/React.svg.png">
        <p class="mb-4">React es una biblioteca de JavaScript para construir interfaces de usuario, desarrollada y
          mantenida por Facebook. Es conocida por su eficiencia y su enfoque en componentes.</p>
        <h3 class="font-bold mb-2">Características destacadas:</h3>
        <ul class="list-disc pl-4">
          <li>Gran comunidad y ecosistema de bibliotecas.</li>
          <li>Virtual DOM para una actualización eficiente del DOM.</li>
          <li>Reutilización de componentes y fácil integración con otras bibliotecas.</li>
        </ul>
      </div>
    </div>
  </div>


  </div>



  <div class="min-w-md p-6 bg-white shadow-md rounded-lg">
    <h1 class="text-3xl font-bold mb-6 text-center">Comparativa de Frameworks</h1>

    <div class="overflow-x-auto">
      <table class="w-full border-collapse">

        <thead>
          <tr>
            <th class="py-2 px-4 border-b">Características</th>
            <th class="py-2 px-4 border-b">Vue.js</th>
            <th class="py-2 px-4 border-b">React</th>
            <th class="py-2 px-4 border-b">Angular</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="py-2 px-4 border-b">Curva de Aprendizaje</td>
            <td class="py-2 px-4 border-b">Baja</td>
            <td class="py-2 px-4 border-b">Moderada</td>
            <td class="py-2 px-4 border-b">Alta</td>
          </tr>
          <tr>
            <td class="py-2 px-4 border-b">Tiempo de Instalación</td>
            <td class="py-2 px-4 border-b">Rápido</td>
            <td class="py-2 px-4 border-b">Rápido</td>
            <td class="py-2 px-4 border-b">Moderado</td>
          </tr>
          <tr>
            <td class="py-2 px-4 border-b">Ventajas</td>
            <td class="py-2 px-4 border-b">Fácil de aprender</td>
            <td class="py-2 px-4 border-b">Gran comunidad y ecosistema</td>
            <td class="py-2 px-4 border-b">Completo</td>
          </tr>
          <tr>
            <td class="py-2 px-4 border-b">Desventajas</td>
            <td class="py-2 px-4 border-b">Menos maduro</td>
            <td class="py-2 px-4 border-b">Curva de aprendizaje inicial</td>
            <td class="py-2 px-4 border-b">Curva de aprendizaje pronunciada</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="p-16">
    <div class="max-w-4 p-6 bg-white shadow-md rounded-lg">
      <h2 class="text-2xl font-bold mb-4">Conclusión: Elección del Framework</h2>
      <p class="mb-4">Tras analizar las características de Angular, React y Vue.js en nuestra tabla comparativa, cada
        uno ofrece fortalezas distintas. Angular destaca por su robustez y escalabilidad, siendo ideal para proyectos
        complejos que requieren estructura y mantenimiento a largo plazo. React se destaca por su amplia comunidad y
        ecosistema, siendo excelente para aplicaciones dinámicas y de una sola página. Por su parte, Vue.js ofrece una
        curva de aprendizaje más suave y es perfecto para proyectos más pequeños o aquellos que requieren rapidez en el
        desarrollo.</p>
      <p class="mb-4">En el contexto de nuestra aplicación actual, donde la simplicidad y agilidad son prioritarias,
        Vue.js sería la elección más adecuada. Su enfoque intuitivo y la facilidad para comenzar a desarrollar
        rápidamente serían beneficiosos para nuestro proyecto. Además, su comunidad activa y documentación detallada
        facilitarán cualquier futura expansión o personalización.</p>
      <p>En resumen, para nuestra aplicación minimalista y centrada en el usuario, Vue.js se presenta como la opción
        ideal para asegurar un desarrollo fluido y una experiencia de usuario excepcional.</p>
    </div>
    <div class="p-6">
      <h3 class="text-1xl font-bold mb-4">By: Ary Alán Álvarez Domínguez </h3>
      <h4 class="text-1xl font-bold mb-4">TIE41M </h4>
    </div>
  </div>


</div>


<router-outlet></router-outlet>